
/* .index-card{
    padding: 150px;
    text-align: center;
}
.search-buttons{
    text-align: center;
    border: transparent;
    background-color: rgba(236, 239, 240, 0.938);
    color: rgb(83, 82, 82);

}

width="40" height="40">
*/
