<!DOCTYPE html>
<html lang="en">
<head>
    <title>learning html </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <header>

    </header>
 
    <div class = "">  
        <div class = "g ">
            <a href="#"><img class=" " src="images/google sketch image.jpg" alt="Card image cap"></a>                         
        </div>
        <form>
            <div class= "">
            <input type="text" class=" " placeholder="Search Google or type URL"  >
            <span class="">
                <a href="#"><img class=" " src="images/google mic.jpg" alt="Card image cap" ></a> 
            </span>
            </div>
            <input type="submit" class = "" value="Google Search" />
            <input type="button" class = "" value="I'm Feeling Lucky" />
        </form>
        <div>
            Google offered in:
            <ul> 
                <li>Hausa</li>
                <li>Igbo</li>
                <li>Yoruba</li>
                <li>Pidgin</li>
            </ul>
        </div>
    </div>
            

            
    <!--footer  -->

    <footer class=" ">
    <div class="f  ">
        <div class = ""> <a > Nigeria</a></div>
    <div class ="   "><a href="#">Advertising</a> &nbsp;&nbsp; <a href="#"> Business</a> &nbsp;&nbsp; <a href="#">About</a></div> 
    <div class ="  "><a href="#">Privacy</a> &nbsp;&nbsp; <a href="#"> Terms</a> &nbsp;&nbsp; <a href="#">Settings</a> &nbsp;&nbsp; <a href="#">Use Google.com</a></div> 
        </div>
    </footer>
                    
   
       

      
</body>
</html> 
